* {
  box-sizing: border-box;
}

html,
body {
  background: #F3F7FA;
  font-family: "Open Sans", sans-serif;
  max-width: 1000px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.header {
  max-width: 960px;
  margin-bottom: 20px;
}

.header__logo {
  margin-top: 50px;
  text-align: center;
}

.mobil__menu {
  display: none;
}

.is__open {
  display: block !important;
}



.container {
  margin: auto;
  max-width: 754px;
  padding: 0 15px;
}

.main {
  margin: auto;
  max-width: 960px;
  margin-bottom: 30px;
}

.aside {
  max-width: 232px;
  height: 252px; 
}

.aside__filter {
  border-radius: 6px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
}

.aside__title {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.aside__ul {
  padding-left: 10px;
  padding-right: 10px;
}

input {
  width: 20px;
  height: 20px;
  background: #fff;
}

.li {
  height: 40px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #4A4A4A;
}

label {
  vertical-align: top;
  padding-left: 10px;
}

.content {
  display: flex;
  position: relative;
}

.tab {
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 26px;
  max-width: 486px;
  display: flex;
  height: 50px;
}

.tablinks {
  border: none;
  padding: 15px;
  width: 246px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4A4A4A;
  transition: 0.4s;
  cursor: pointer;
}

.tablinks:hover {
  background: #2196F3;
  color: #FFFFFF;
}

.tab button.active {
  background: #2196F3;
}

.tablinks:nth-child(2n) {
  border-left: 1px solid #DFE5EC;
}

.tablinks:nth-child(3n) {
  border-left: 1px solid #DFE5EC;
}

.wrapper__ticket {
  position: absolute;
  top: 60px;
  left: 232px;
}


/* Карточка билета */


.tickets__card {
  border-radius: 6px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  background: #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.ticket__header {
  display: flex;
  width: 486px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}


.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196F3;
}

.logo__comp {
  width: 110px;
  height: 36px;
}

.ticket__there,
.ticket__back {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.city,
.way,
.transfer-namber {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #A0B0B9;
}

.time,
.transfer-city {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}

@media (max-width: 767px) {

  .container {
    width: 516px;
    max-width: 100%
  }

  .header {
    display: none;
  }

  .content{
    margin-top: 10px;
  }

  .aside {
    display: none;
    position: absolute;
    background: #e6dde6;
    left: 0;
    top: 40px;
    margin-left: 20px;
    flex-direction: column;
    z-index: 9;
    border-radius: 10px;
 
  }

  .mobil__menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .tab {
    border: none;
    border-radius: 0;
    height: auto;
  }

  .tablinks {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .tickets__card{
    margin-bottom: 20px;
  }

  .content {
    justify-content: center;
  }

  .wrapper__ticket {
    margin-left: 0;
    top: 80px;
    left:  0px;
    /*width: calc(63.44vw - 30px);*/
    width: 486px;
  }

  .ticket__header {
    width: 100%;
  }
}

@media (max-width: 516px) {
  
  .container {
    width: 100vw;
  }
  .wrapper__ticket {
    width: calc(100vw - 30px);
  }
}

@media (max-width: 486px) {
  .container{
    width: 100vw;
  }

  .wrapper__ticket{
    width: calc(100vw - 30px);
  }
  
}
@media (max-width: 399px) {

  .tablinks {
    padding: 15px 5px;
  }
}

@media (max-width: 360px) {

  .tickets__card{
    padding-bottom: 15px;
  }

  .tablinks {
    font-size: 10px;
  }

  .price{
    margin: 15px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .city, .way, .transfer-namber {
    font-size: 10px;
    line-height: 16px;
  }
  .ticket__back{
    margin-bottom: 0;
  }

}


/*
@media (max-width: 768px) {
  .ticket__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .left-side {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .right-side {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .left-side {
    min-width: 100%;
  }

  .block-right,
  .block-left {
    width: 100%;
  }

  .block-left {
    margin-bottom: 20px;
  }
}

.dropdown {
  position: relative;
  z-index: 2;
}

input {
  position: relative;
  z-index: 1;
}*/